@import "peterevo7.styles"; //the following resources are already called in the ant-omega.styles.css

//the following resources are already called in the think-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

.l-box {

}

.l-box{
	margin-top: 50px;
	min-height: 475px;
	width: 100%;
	background-image: url("../../../images/home_restless_ocean-mobile.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	overflow: hidden; 
}

@include breakpoint($tab) {

	.l-box{
	min-height: 600px;
	background-image: url("../../../images/home_restless_ocean-tab.jpg");
	}
	
		
}

@include breakpoint($desk) {

	.l-box{
	background-image: url("../../../images/home_restless_ocean-desk.jpg");
	}
	
		
}