/* No files to import found in abstractions/**\/* */
/* Webforms */
/* line 2, ../../../sass/base/_forms.scss */
.webform-client-form {
  padding: 25px 0px;
  margin: 0px 2% 50px; }
  /* line 6, ../../../sass/base/_forms.scss */
  .webform-client-form label {
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #fff; }
  /* line 14, ../../../sass/base/_forms.scss */
  .webform-client-form input {
    width: 100%;
    border-radius: 2px;
    border: none;
    background-color: #333;
    font-size: 1.2em;
    padding: 8px;
    color: #fff; }
  /* line 25, ../../../sass/base/_forms.scss */
  .webform-client-form select {
    width: 100%;
    border-radius: 2px;
    border: none;
    background-color: #333;
    font-size: 1.2em;
    padding: 7px;
    color: #fff; }
    /* line 34, ../../../sass/base/_forms.scss */
    .webform-client-form select option {
      border: 0 none; }
  /* line 40, ../../../sass/base/_forms.scss */
  .webform-client-form textarea {
    width: 100%;
    border-radius: 2px;
    border: none;
    background-color: #333;
    font-size: 1.2em;
    padding: 5px;
    color: #fff; }
  /* line 50, ../../../sass/base/_forms.scss */
  .webform-client-form .form-text {
    font-size: 1.2em; }
  /* line 54, ../../../sass/base/_forms.scss */
  .webform-client-form .grippie {
    display: none; }
  /* line 58, ../../../sass/base/_forms.scss */
  .webform-client-form .webform-submit {
    padding: 7px;
    font-size: 1.2em; }
  /* line 65, ../../../sass/base/_forms.scss */
  .webform-client-form .button-primary {
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #fff;
    -moz-transition: background-color 1s 0.5s, color 2s;
    -o-transition: background-color 1s 0.5s, color 2s;
    -webkit-transition: background-color 1s, color 2s;
    -webkit-transition-delay: 0.5s, 0s;
    transition: background-color 1s 0.5s, color 2s; }
  /* line 74, ../../../sass/base/_forms.scss */
  .webform-client-form .button-primary:hover {
    color: #fff;
    background-color: #999; }

@media (min-width: 768px) {
  /* line 84, ../../../sass/base/_forms.scss */
  .l-page .webform-client-form {
    padding: 25px 0px;
    margin: 0px 12.5% 50px; }
  /* line 89, ../../../sass/base/_forms.scss */
  .l-page .webform-submit {
    max-width: 20%; } }

/* line 1, ../../../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 3, ../../../sass/components/_footer.scss */
.l-footer {
  background-color: #ccc;
  padding-top: 20px;
  padding-bottom: 20px; }
  /* line 12, ../../../sass/components/_footer.scss */
  .l-footer .pane-block-1 p {
    font-size: 12px; }

@media (min-width: 768px) {
  /* line 13, ../../../../../../../../../../../Users/anthonyfenwick/.rvm/gems/ruby-1.9.3-p551/gems/toolkit-2.7.0/stylesheets/toolkit/_clearfix.scss */
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }
  /* line 32, ../../../sass/components/_footer.scss */
  .l-footer .pane-block-1 {
    width: 15.25424%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
/* line 3, ../../../sass/components/_header.scss */
.l-region--header {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 5px; }
  /* line 8, ../../../sass/components/_header.scss */
  .l-region--header img {
    width: 270px; }

/* line 9, ../../../sass/components/_navigation.scss */
.l-region--navigation ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  /* line 16, ../../../sass/components/_navigation.scss */
  .l-region--navigation ul.menu li.leaf {
    display: inline-block;
    padding: 20px; }
    /* line 20, ../../../sass/components/_navigation.scss */
    .l-region--navigation ul.menu li.leaf a {
      text-decoration: none;
      color: #ff4400; }
    /* line 25, ../../../sass/components/_navigation.scss */
    .l-region--navigation ul.menu li.leaf a:hover {
      color: #000; }
    /* line 30, ../../../sass/components/_navigation.scss */
    .l-region--navigation ul.menu li.leaf a.active {
      color: #000; }

/* test 4 */
/* line 29, ../../../sass/peterevo7.styles.scss */
.l-page {
  padding-right: 1%;
  padding-left: 1%; }
  /* line 33, ../../../sass/peterevo7.styles.scss */
  .l-page .pane-page-slogan {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px; }

@media (min-width: 768px) {
  /* line 42, ../../../sass/peterevo7.styles.scss */
  .l-page {
    padding-right: 0;
    padding-left: 0; }
    /* line 46, ../../../sass/peterevo7.styles.scss */
    .l-page .pane-page-slogan {
      /* font-family: Verdana, Geneva, sans-serif;
      font-size: 36px; */ } }
/* line 13, ../../../../../../../../../../../Users/anthonyfenwick/.rvm/gems/ruby-1.9.3-p551/gems/toolkit-2.7.0/stylesheets/toolkit/_clearfix.scss */
.l-main:after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 768px) {
  /* line 19, ../../../sass/layouts/contact/contact.layout.scss */
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 22, ../../../sass/layouts/contact/contact.layout.scss */
    .l-content .webform-component--title {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 26, ../../../sass/layouts/contact/contact.layout.scss */
    .l-content .webform-component--forename {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 33.89831%;
      clear: none;
      border: red 1px solid; }
    /* line 31, ../../../sass/layouts/contact/contact.layout.scss */
    .l-content .webform-component--surname {
      width: 32.20339%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    /* line 35, ../../../sass/layouts/contact/contact.layout.scss */
    .l-content .webform-component--email {
      width: 49.15254%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 39, ../../../sass/layouts/contact/contact.layout.scss */
    .l-content .webform-component--confirm-email {
      width: 49.15254%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }
@media (min-width: 1120px) {
  /* line 51, ../../../sass/layouts/contact/contact.layout.scss */
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/*# sourceMappingURL=contact.layout.css.map */
