/* Webforms */
.webform-client-form {

	label {
		font-weight: normal;
		font-size: 1.2em;
		margin-bottom: 5px;

	}
	input {
		width: 100%;
		border-radius: 2px;
		border: 1px solid #ccc;
		background-color: #ffebcc;
		font-size: 1.2em;
		padding: 8px;

	}

	select {
		width: 100%;
		border-radius: 2px;
		border: 1px solid #ccc;
		background-color: #ffebcc;
		font-size: 1.2em;
		padding: 7px;

		option {
			border: 0 none;

		}
	}

	textarea {
		width: 100%;
		border-radius: 2px;
		border: 1px solid #ccc;
		background-color: #ffebcc;
		font-size: 1.2em;
		padding: 5px;
	}

	.form-text {
		font-size: 1.2em;
	}

	.grippie {
		display: none;
	}

	.webform-submit {
			padding: 7px;
			font-size: 1.2em;

			
	}

	.button-primary {
			  color: #fff;
			  display: block;
			  padding: 10px;
			  text-decoration: none;
			  background-color: #666;
			  @include transition(background-color 1s .5s, color 2s);
			}

			.button-primary:hover {
			  color: #fff; 
			  background-color: #999;
			}

}
// Webform validation messages
.messages {
	margin: 6px 0;
    padding: 10px 10px 10px 50px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 0 none;

    ul {
    	list-style: none;

    	li .error {
    		color: #ff0000;
    	}
    }
}

.webform-confirmation {

	.links {
		display: none;
	}
	
}


.l-page {
	
	@include breakpoint($tab) {

		.webform-submit {
			max-width: 20%;
		}

	}

	
}