// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

// Generic settings

.l-page {
	padding-right: 1%;
	padding-left: 1%;

	.pane-page-slogan {
		font-family: Verdana, Geneva, sans-serif;
		font-size: 20px;

	}
}

@include breakpoint($tab) {

	.l-page {
		padding-right: 0;
		padding-left: 0;

	}
		
}

@include breakpoint($tabwide) {
		

}

@include breakpoint($desk) {
		

}
