// Header

.l-region--header {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;

		img {
			width: 270px;
		}

}

.l-header {
	//background-color: #ccc;
	margin-bottom: 50px;
}


@include breakpoint($tab) {

	.l-region--header {
		padding-top: 80px;
	}

}