// Main Menu



.l-region--navigation {
	//background-color: #ccc;


	ul.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	

		li.leaf {
			display: inline-block;
			padding: 20px;

			a {
			text-decoration: none;
			color: #ff4400;
			}

			a:hover {
			color: #000;

			}

			a.active {
			color: #000;

			}

		}

	}

}