

//Main Menu

.l-region--navigation {


	ul.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	

		li.leaf {
			display: inline-block;
			padding: 20px;

			a {
			text-decoration: none;
			font-size: 20px;
			color: #ff9933;
			display: block;
			}

			a:hover {
			color: #000;

			}

			a.active {
			color: #000;

			}

		}

	}

}


//Right Hand Navigation

.l-region--sidebar-first {

	ul.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: left;
	

		li.leaf {
			list-style: none;
			padding: 3px;
			border: 1px solid #ccc;
			margin-top: 10px;
			border-radius: 5px;
			//background-color: #ffebcc;

			a {
			text-decoration: none;
			color: #000;
			font-size: 12px;
			font-weight: normal;
			font-variant: normal;
			display: block;
			}

			a:hover {
			color: #ff9933;

			}

			a.active {
			color: #ff9933;

			}

		}

	}

}

@include breakpoint($tab) {

	ul.menu {
		//max-width: 50%;
		border: red 1px solid;

	}


}

@include breakpoint($tabwide) {

	ul.menu {
		//max-width: 50%;
		border: green 1px solid;

	}


}


//Mmenu styles for mobile button


.pane-system-main-menu { //hides main menu in mobile
	display: none;
}

.mmenu-mobile-button { //Panel class to manage Mmenu mobile button
	width: 50px;
	margin: 10px auto;


	#logo-mobile {
	    width: 50px;
	    height: auto;
	    padding: 0 4px;
	    cursor: pointer;
	    text-decoration: none;
	    font-size: 1px;

	    span.mb-bar {
	    	display: block;
		    background-color: #ff0000;
		    height: 5px;
		    width: auto;
		    margin-top: 9px;
	    }



	}

}

//Mmenu styles for Mmenu sliding panel

#mmenu_right.mmenu-nav.mm-basic {//Lets override some basic settings!

	.mm-header {
		 background: #000;
		 border: none 0;
	}

	.mm-footer {
		background-color: #000;
		font-size: 10px;
	}

	background: #000;

		li a {
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 40px;
		}

		.mm-list li {
			border-top: none;
			border-bottom: none;
		}
	
		a.mmenu-mm-list {//Link color
			color: #fff;
		}
		a.mmenu-mm-list :hover {//Link hover color
			color: #666;
		}

		.mmenu-mm-list i {//Lets hide those pesky icons!
			display: none;
		}


}

@include breakpoint($tabwide) {

	.pane-system-main-menu { //Show the main menu on Tablets Wide or greater
	display: block;
	}

	.mmenu-mobile-button { //Hide on Tablets Wide or greater
		display: none;
	}

	#logo-mobile { //Hide on Tablets Wide or greater
	    display: none;

	}			

}


